<div class="selection">
  <mat-form-field>
    <mat-label>Turma</mat-label>
    <mat-select [(value)]="turmaId" (selectionChange)="onChange()">
      <mat-option [value]="null">-- selecione --</mat-option>
      <mat-option *ngFor="let t of turmas" [value]="t.id">
        {{t.nome}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Disciplina</mat-label>
    <mat-select [(value)]="disciplinaId" (selectionChange)="onChange()">
      <mat-option [value]="null">-- selecione --</mat-option>
      <mat-option *ngFor="let d of disciplinas" [value]="d.id">
        {{d.nome}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
<div *ngIf="errorMsg" class="error-message">{{errorMsg}}</div>

